.bottom-space {
    margin-bottom: 10px;
}
/*if we will do new site this styles contain in new folder*/
.panel-title {
    display: inline-block;
    padding-left: 15px;
}

.panel-add {
    display: inline-block;
    float: right;
}

.panel-add > a:first-child {
    padding-right: 20px;
}
/*--------------------------------------------*/
