.logo img {
    height: 32px;
    width: 160px;
    margin-top: 19px;
}

.form {
    position: relative;
    z-index: 1;
    background: url(../images/black-thread.jpg) #FFFFFF;
    margin: 0 auto 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h1 {
    color: #78be20;
}

.myrow-container .table thead {
    background-color: #dddddd;
}

.myrow-container .table tbody {
    background-color: #FFFFFF;
}

.btn-success {
    background-color: #78be20 !important;
    border-color: #78be20 !important;
}

.btn-success:active,
.btn-success:hover {
    background-color: #71b31e !important;
    border-color: #71b31e !important;
}