/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: OpenSansRegular;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/*-------------------------------------------------- */

.success {
    color: green;
}

.logo{
    height: 65px;
    width: 165px;
}

/* time */
.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clock {
    width: 200px;
    margin-right: 10px;
    padding: 10px;
    border-left: 1px solid #333;
    color: #fff;
}

#Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

ul {
    width: 150px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 1.5em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}
/*-------------------------------------------------- */

.right {
    float: right;
}

.breadcrumbs {
    margin-bottom: 15px;
    font-size: 20px;
}