@font-face {
    font-family: "OpenSansRegular";
    src: url("../../resources/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../../resources/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../../resources/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../../resources/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../../resources/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../../resources/fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../../resources/fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: OpenSansRegular;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
.button{
    display: inline-block;
    box-sizing: content-box;
    text-decoration:none;
    text-align:center;
    padding:24px 40px;
    border:solid 1px #004F72;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius: 18px;
    font:26px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#e5ffff;
    background:#3379b7;
    -webkit-box-shadow:inset 0px 0px 1px #ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;
    opacity:0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    outline: none;
    width: 220px;
}

.button:hover {
    background-color: #286090;
    border-color: #204d74;}

.logo{
    height: 40px;
    width: 30px;
}

.size {
    margin-top: 100px;
    height: 200px;
}

.greeting {
    padding-right: 50px;
    color: white;
}

.right {
    text-align: right;
}

.greeting-logout {
    cursor: pointer;
    color: #87CEEB;
}

.header {
    font-family: RobotoCondensedRegular;
    text-align: center;
}

.breadcrumbs {
    margin-bottom: 15px;
}
